<div class="container-fluid" id="home-main">
	<!-- <img src="img/Placeholder-Home_Main.jpg" alt="picture of uganda people"></img> -->
</div>
<div class="container-fluid odd-div">
	<p>
		We envision a future in which all Ugandan communities will have the means to effectively create and implement their own health and development solutions.
	</p>	
</div>
<div id="leaders" class="even-div">
	<h1 id="center-title">What we do</h1>
	
	<div class="col-xs-4">
		<img src="img/Placeholder-home_healthy.jpg" alt=""></img>
	</div>
	<div class="col-xs-4">	
		<img src="img/Placeholder-home_leaders.png" alt=""></img>
	</div>
	<div class="col-xs-4">
		<img src="img/Placeholder-home_safewater.jpg" alt=""></img>
	</div>

	<h2 class="col-xs-4">Healthy Village</h2>
	<h2 class="col-xs-4">Leaders</h2>
	<h2 class="col-xs-4">Safe Water</h2>
</div>

<div class="odd-div">
	<a class="gray" ui-sref="home">Internship<span></span></a>
	<a class="gray" ui-sref="about-us">Jobs &amp; Volunteer<span></span></a>
	<a class="gray" ui-sref="our-mission">Fundraise<span></span></a>
	<a class="gray" ui-sref="support-us">Corporate Involvement<span></span></a>
	<div id="content">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>

<div id="help">
	<h1 id="center-title">Join Us</h1>
	
	<div class="col-xs-3">
		<img src="img/Placeholder-facebook.png" alt=""></img>
		<h3>Like us on</br>Facebook</h3>
	</div>
	<div class="col-xs-3">	
		<img src="img/Placeholder-youtube.png" alt=""></img>
		<h3>Subscribe us on</br>Youtube</h3>
	</div>
	<div class="col-xs-3">
		<img src="img/Placeholder-twitter.png" alt=""></img>
		<h3>Follow us on</br>Youtube</h3>
	</div>
	<div class="col-xs-3">
		<img src="img/Placeholder-donate.png" alt=""></img>
		<h3>Help us by</br>Donating</h3>
	</div>

</div>